header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #226663;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
  gap: 25px;
}

a {
    text-decoration: none;
    color: #226663;
}

.herosection {
    background-color: #226663;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.herosection img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.herosection h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: end;
    padding: 0 2rem 0 0;
    color: white;
    font-size: 2.5rem;
}

body {
    background-color: #F7F1FC;
}

h2 {
    color: #6E5084;
}


.middlesection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


.endsection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}